.cards {
  max-width: max-content;
  margin-top: 1rem;


  .top {
    background-color: deeppink;
    height: 3rem;

    .top-sales {
      color: white;
      font-size: 1.2rem;
      padding-top: 10px;
      // background: pink;
      margin-left: 1.3rem;
    }
  }
}

@media screen and (min-device-width: 601px) and (max-device-width: 921px) {
  .a {
    display: flex
  }
}
