.store {
  width: 320px;
  background-color: #f2f2f2;
  margin-left: 15px;
  .text {
    background-color: deeppink;
    height: 3rem;
    color: white;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #f7f7f7;
    padding-left: 2rem;
    // display: none;
  }
  .list {
    list-style: none;
    .item {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      font-size: 1.2rem;
      padding: 1rem 2rem;
      color: #1f3f68;
      cursor: pointer;
      a{
        text-decoration: none;
        color: #1f3f68;
      }
    }
  }
}
