@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
.filter--comp {
  font-family: Comfortaa;
  &__title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #1f3f68;
 margin-bottom: 2.5rem;
 margin-left: 1rem;
  }
  &__delivery a{
    background: #EB2188;
    border: 2px solid #EB2188;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1rem;
    color  : #fff;
    text-decoration: none;
    

  }
  &__away a{
text-decoration: none;
    border: 2px solid #ABB4BD;
    color: #ABB4BD;   
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1rem;
    margin: 0 1.5rem;
    &:hover{
        background: #EB2188;
        color: #fff;
        border: 2px solid #EB2188;
        text-decoration: none;
    }
    
  }
}
.wrap{
    display: flex;
    flex-flow: row wrap;
    margin-left: 1rem;
    margin-bottom: 2rem;

    
}
@media only screen and (max-width: 1024px){
  .filter--comp{
    text-align: left;
    &__away a{
      margin-top: 4rem;
         margin-left: 0;
    }
 
  }
}
@media screen and (min-width: 320px) and (max-width: 414px){
    .filter--comp{
      text-align: left;
      &__away a{
       margin-top: 8rem;
       margin-left: 0;
    
      }
      &__delivery{
        margin-right: 4rem;
      }
    }
    .wrap{
      flex-flow: row wrap;
     
      
    }
    
    
    }