@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
$font: "Comfortaa";

.bgc {
  background: lightgrey;
}
.nbgc {
  background: white;
}
.access {
  overflow-x: hidden;
  font-family: $font;
  width: 100%;

  .bordered {
    height: max-content;
    width: 90vw;
    margin: 7rem auto;
    background: #ffffff;
    border: 1px solid rgba(31, 63, 104, 0.5);
    box-sizing: border-box;
    border-radius: 10px;

    .buttons {
      display: flex;
      flex-basis: 1;

      .in,
      .up {
        flex-basis: 50%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 46px;
        letter-spacing: 0.05em;

        color: #316099;
        cursor: pointer;
      }

      .in {
        border-top-left-radius: 10px;
      }

      .up {
        border-top-right-radius: 10px;
      }
    }

    .create {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;

      .acc,
      .text,
      .tex {
        display: flex;
        justify-content: center;
      }

      .acc {
        margin-top: 2rem;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 0.05em;
        color: #316099;
      }

      .text {
        margin-block-end: 0;
        line-height: 16px;
      }

      .tex {
        margin-block-start: 0;
      }

      .text,
      .tex {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #1f3f68;
        opacity: 0.6;
      }
    }

    .auth {
      display: flex;
      justify-content: space-around;
      width: 65%;
      margin: 0 auto;

      button {
        width: 324px;
        height: 40px;
        background: #ffffff;
        border: 1px solid rgba(31, 63, 104, 0.5);
        border-radius: 10px;
        outline: none;
        transition: all 0.5s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 5px 0px rgba(17, 51, 97, 0.5);
        }

        span {
          font-family: Comfortaa;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #1f3f68;
          opacity: 0.6;
        }
      }
    }

    .form {
      width: 60%;
      margin: 1.5rem auto;

      .form-mob {
        display: none;
      }

      .signin {
        width: 100%;
        text-transform: uppercase;
        color: white;
        background: #eb2188;
        border-radius: 4px;
        height: 46px;
        outline: none;
        border: none;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 40px;
          background-color: #eb2188;
          border-radius: 4px;
          z-index: -2;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          line-height: 40px;
          background-color: darken(#eb2188, 10%);
          transition: all 0.3s;
          border-radius: 4px;
          z-index: -1;
        }

        &:hover {
          color: #fff;

          &:before {
            width: 100%;
          }
        }
      }

      input::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.45);
        font-size: 11px;
      }
    }

    .retrieve {
      max-width: inherit;
      margin-top: 1rem;
      display: flex;
      justify-content: center;

      .forgot {
        text-decoration: none;
      }
    }
  }
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba($color: #444, $alpha: 0.07);
}
.loader {
  display: inline-block;
  border: 3px solid rgba(44, 42, 42, 0.1);
  border-left-color: deeppink;
  // background: #222;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: donut-spin 1.2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

@media screen and (min-width: 376px) and (max-width: 455px) {
  form {
    width: 80%;
  }

  .form-desktop {
    display: none;
  }

  .form-mob {
    display: block !important;
  }

  .acc {
    margin-top: 1.5rem;
  }

  .auth {
    display: flex;
    flex-direction: column;
    height: 10rem !important;

    button {
      margin-left: -3rem;
    }
  }
}

@media screen and (min-width: 457px) and (max-width: 850px) {
  .form {
    width: 80% !important;
  }

  .form-desktop {
    display: none;
  }

  .form-mob {
    display: block !important;
  }

  .acc {
    margin-top: 1.5rem;
  }

  .auth {
    display: flex;
    width: 85% !important;

    button {
      margin: 5px;
      margin-top: 2.5rem;
    }
  }
}

@media screen and (max-width: 375px) {
  .acc {
    font-size: 1.2rem !important;
  }
  .sign {
    font-size: 14px !important;
    line-height: 1.5rem;
  }
  .form-desktop {
    display: none;
  }

  .form-mob {
    display: block !important;
  }

  .form {
    width: 80% !important;
  }

  .auth {
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 85vw !important;

    button {
      width: 275px !important;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
  }
  .h {
    height: 3rem;
  }
}
