$color: #eb2188;

.btn {
    width: 100%;
    padding: 0;

    button {
        display: flex;
        justify-content: center;
        background: $color;
        border-radius: 4px;
        border: none;
        height: 40px;
        line-height: 40px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 40px;
            background-color: $color;
            border-radius: 4px;
            z-index: -2;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            line-height: 40px;
            background-color: darken($color, 10%);
            transition: all 0.3s;
            border-radius: 4px;
            z-index: -1;
        }

        &:hover {
            color: #fff;

            &:before {
                width: 100%;
            }
        }
    }

    .no-radius {
        border-radius: 0;
    }

    .lg {
        width: 100%;
    }

    .md {
        width: 50%;
    }

    .sm {
        width: 25%;
    }

    .xs {
        width: 15%;

    }
}
