@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
$font: "Comfortaa";

.access {
  overflow-x: hidden;
  font-family: $font;

  .border {
    height: max-content;
    width: 90vw;
    margin: 5rem auto;
    background: #ffffff;
    border: 1px solid rgba(31, 63, 104, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    @media (max-width:767px) {
      padding: 0;
    }

    .reset,
    .text {
      display: flex;
      justify-content: center;
    }

    .reset {
      text-transform: capitalize;
      font-family: Comfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 46px;
      letter-spacing: 0.05em;
      color: #316099;
      margin-top: 5rem;

      @media (max-width:767px) {
        letter-spacing: 0;
      }
    }

    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #1f3f68;
      opacity: 0.6;

      @media (max-width:767px) {
        letter-spacing: 0;
      }
    }

    input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.45);
      font-size: 11px;
    }

    label {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 177.04%;
      letter-spacing: 0.02em;
      color: #1F3F68;
    }

    .button {
      margin-bottom: 3rem !important;
      padding: 0 .5em;
    }
  }

  .forgot-form {
    width: 100%;
    padding: 0 10em;

    @media (max-width:767px) {
      padding: 0;
    }
  }
}
