.orders-table {
  width: 100%;
  table-layout: fixed;
  color: #666666;

  .name {
    width: 27%;
  }

  .food {
    width: 25%;
  }

  .item,
  .date,
  .status {
    width: 18%;
  }

  .thead {
    border: 1px solid #d4d4d4;
    font-weight: 100;

    .thead-items {
      padding: 1em;
    }
  }

  .tbody {
    td {
      border: none;
    }

    .tbody-items {
      padding: 1em;

      .name-wrap {
        display: flex;
        justify-content: space-between;
        margin: 1em 0;

        .user-avatar {
          width: 3em;
          height: 3em;
          border-radius: 50%;
        }

        .username-id {
          .name-id {
            font-size: 1em;

            .idd {
              font-size: 0.7em;
            }
          }
        }
      }

      .status__options {
        width: 100%;
        background: none;
        color: #eb2188;
        padding-left: 1em;
        outline: none;
        box-shadow: 0px 0px 2px 0px rgb(66, 62, 62);
        border: none;
        height: 2em;
      }
    }
  }
}
