.orders-info {
    margin: 3em 1.5em;

    @media (max-width:767px) {
        margin: 2em 0 0;
    }

    .order-top {
        margin-bottom: 4em;

        .orders-h2 {
            font-size: 22px;
            font-weight: 600;
            line-height: 300%;
            color: #666666;
        }

        .order-info-input {
            display: flex;

            .order-id-input {
                width: 70%;
                height: 50px;
                border: 1px solid #E3E3E3;
                padding-left: 1em;
                box-sizing: border-box;

                &::-webkit-input-placeholder {
                    font-size: 16px;
                    line-height: 23px;
                    color: rgba(102, 102, 102, 0.5);
                }

            }

            .btn-search-order {
                width: 30%;

                justify-content: center;
                background: #eb2188;
                border: none;
                height: 50px;
                line-height: 50px;
                color: #fff;
                cursor: pointer;
                transition: all 0.3s;
                position: relative;
                overflow: hidden;
                z-index: 1;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    line-height: 40px;
                    background-color: #eb2188;
                    z-index: -2;
                }

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    line-height: 40px;
                    background-color: darken(#eb2188, 10%);
                    transition: all 0.3s;
                    z-index: -1;
                }

                &:hover {
                    color: #fff;

                    &:before {
                        width: 100%;
                    }
                }
            }
        }

        .select-box {
            display: flex;
            justify-content: flex-end;

            @media (max-width:768px) {
                margin: 2em 0 0;

            }

            .select-cat {
                height: 45px;
                background: #FFF;
                border: 1px solid #E3E3E3;
                color: rgba(102, 102, 102, 0.6);
                width: 70%;

                @media (max-width:768px) {
                    width: 100%;
                }
            }
        }


    }

    .all-orders-wrapper {

        .all-orders {
            cursor: pointer;
            font-size: 20px;
            line-height: 110%;
            border: 1px solid #d4d4d4;
            color: #666666;
        }

    }

    .trending-orders-wrapper {
        .trending-orders {
            cursor: pointer;
            font-size: 20px;
            line-height: 110%;
            border: 1px solid #d4d4d4;
            color: #666666;
        }
    }

    .orders-awaiting-wrapper {
        .awaiting-orders {
            cursor: pointer;
            font-size: 20px;
            line-height: 110%;
            border: 1px solid #d4d4d4;
            color: #666666;
        }
    }

    .cancelled-orders-wrapper {
        .cancelled-orders {
            cursor: pointer;
            font-size: 20px;
            line-height: 110%;
            border: 1px solid #d4d4d4;
            color: #666666;
        }
    }

    .delivered-orders-wrapper {
        .delivered-orders {
            cursor: pointer;
            font-size: 20px;
            line-height: 110%;
            border: 1px solid #d4d4d4;
            color: #666666;
        }
    }


    .orders-awaiting-shipment {
        .shipment-orders {
            cursor: pointer;
            font-size: 20px;
            line-height: 110%;
            border: 1px solid #d4d4d4;
            color: #666666;
        }
    }
}
