.restaurant-name {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1rem;
  padding-top: 1em;

  color: #1f3f68;


  @media(max-width: 767px) {
    font-size: 1em;
  }

}

.cart-wrap {
  box-shadow: 0px 0px 2px 0px #5b779c;

}

.title {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  font-weight: 600;
  color: #1f3f68;

  @media(max-width: 767px) {
    font-size: 1em !important;
  }
}

.cursorType {
  cursor: pointer;
}

.product {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // border-bottom: 1px solid #E3E3E3;
  padding-bottom: 4rem;


  @media(max-width: 767px) {
    margin-top: 0;
  }
}

.product--details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product--info {
  &__name {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 20px;
    margin-left: 1rem;
    color: #1f3f68;
  }

  &__description {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 20px;
    margin-left: 1rem;
    color: #1f3f68;
  }

  &__id {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1f3f68;
    margin-left: 1rem;
  }

  &__remove {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    margin-left: 1rem;
    color: rgba(31, 63, 104, 0.6);
    transition: all .5s ease-in-out;

    &:hover {
      color: #1f3f68;

    }
  }
}

.quantity--detail {
  &__counter {
    display: flex;
    justify-content: space-between;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 18px;
    color: #1f3f68;
  }

  &__quantities {
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    width: 37px;
    height: 29px;
    text-align: center;
    padding-top: .4rem;
  }
}

.price--details {
  &__amount {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #1f3f68;
    mix-blend-mode: normal;
  }
}

.delivery--details {

  &__time,
  &__fee {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 20px;
    color: #1f3f68;

    @media(max-width: 767px) {
      font-size: .85em;

    }
  }
}

.product-total {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 20px;
  margin-top: -4rem;
  color: #1f3f68;
  font-weight: 600;
  float: right;

}

@media only screen and (max-width: 1024px) {
  .title {

    font-weight: bold;
  }
}

@media (max-width: 767px) {
  .product-image {
    width: 100%;
    margin: 1rem auto;

  }

  .product-title {
    font-size: 1.3em;
    text-align: center;

  }

  .product--info {
    margin-left: 0;
  }
}
