.cart-dropdown{
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #eb2188;
    background-color: #fff;
    top: 80px;
    right: -125px;
    z-index: 5;

    .cart-items{
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    button{
        margin-top: auto;
    }
}


@media screen and  (min-width: 300px) and (max-width: 440px){
    .cart-dropdown{
        display: none;
    }
}