

.grand--total{
    float: right;
    margin-bottom: 5rem;
    &__price{
      font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  
  color: rgba(102, 102, 102, 0.6);
    }
    &__text{
      font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  
  color: rgba(102, 102, 102, 0.6);
    }
  }
  
  @media screen and (min-width: 375px) and (max-width: 414px){
    .grand--total{
      float: none;
      &__price, &__text{
        text-align: center;
      }
    }
    
  }  