
.main--header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://res.cloudinary.com/mideveloper/image/upload/v1579181182/Rectangleheader-image_py95ce.png);
  mix-blend-mode: normal;
  height:27rem;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  color: #fff;
  
}



@media screen and (min-width: 320px) and (max-width: 414px){
  .main--header{
   
    color:#1f3f68 ;
    height: 22rem;
  }
}