#region--selector {
  font-family: "Comfortaa", cursive;
  margin: 0 auto;
  width: 20rem;
  height: 47px;
  text-transform: none;
  padding: 0 0 0 1rem;
  background: #eb2188;
  color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  display: flex;
  &__caret {
    margin-left: 9rem;
    margin-right: 1rem;
  }
  &__area {
    font-family: "Comfortaa", cursive;
    width: 23em;
    
    background: #fff;
    color: #1f3f68;
    list-style: none;
   
    border-radius: 5px;
    margin: 0 auto;
    text-decoration: none;
  }

}
li{
  padding: .5rem 0;
  &:hover{
    background: rgba(0, 0, 0, 0.08);
    text-decoration: none;
  
  }
}

#selector{
  color: #1f3f68;
  padding: 0 1rem;
  &:hover{
    text-decoration: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 414px) {
  #region--selector {
    width: 11rem;

    &__area {
      width: 11rem;
    }
    &__caret{
      display: none;
    }
  }
}
