@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");


.page-title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    line-height: 74px;
    margin-top: 5rem;

    letter-spacing: 0.04em;

    color: #f6f6f6;
  }
  .page-description{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #F7F7F7;
    
    opacity: 0.6;
  }

  @media screen and (min-width: 320px) and (max-width: 414px){
      .page-title{
          font-size: 1em;
          color: #fff;
          line-height: inherit;
          margin-top: 5rem;
      }
      .page-description{
          color: #F7F7F7;
          font-size: .8em;
          opacity: 100;
          text-align: center;
      }
  }