@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

* {
    font-family: Comfortaa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}



.blog-wrapper {

    margin-top: 5em;

    .top-read__h4 {
        padding: .5em;
        color: #1F3F68;
        margin-bottom: 1em;
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;
        background: rgba(235, 33, 136, 0.05);

        @media(max-width:767px) {
            text-align: center;
        }
    }

    .width {
        width: 31%;

        @media (max-width:767px) {
            width: auto;
        }

    }


    .right {
        background: rgba(235, 33, 136, 0.05);
        padding: 1em;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #1F3F68;
    }

    .blog-form {
        display: flex;
        background: #EDEDED;
        margin: 3em 0;

        .form-img {
            display: flex;

            @media(max-width:767px) {
                width: 90%;
            }

            .img-side {
                height: 100%;

                @media(max-width:767px) {
                    width: 100%;
                }
            }
        }

        .form-bg {
            padding: 2em 0;

            @media(max-width:767px) {
                display: flex;
                padding: 2em 1em;
                flex-flow: column wrap;

            }

            .form-h5 {
                font-size: 16px;
                line-height: 18px;
                color: #666666;

                @media(max-width:767px) {
                    text-align: center;
                }
            }

            .input-sub {
                border: none;
                height: 2em;
                background: #FFF;

                @media(max-width:767px) {
                    width: 100%;
                    margin-bottom: 1em;
                }

                &::placeholder {
                    color: #BDBDBD;
                    padding-left: 1em;
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            .btn-sub {

                height: 2em;
                padding: 0 .5em;
                background: #eb2188;
                color: #EDEDED;
                font-size: 16px;
                border: none;
                transition: all 0.3s;
                position: relative;
                overflow: hidden;
                z-index: 1;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    line-height: 40px;
                    background-color: #eb2188;
                    border-radius: 4px;
                    z-index: -2;
                }

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    line-height: 40px;
                    background-color: darken(#eb2188, 10%);
                    transition: all 0.3s;
                    border-radius: 4px;
                    z-index: -1;
                }

                &:hover {
                    color: #fff;

                    &:before {
                        width: 100%;
                    }
                }

                @media(max-width:767px) {
                    width: 100%;
                }

            }
        }
    }

    .bottom-post {
        .bottom-post__h4 {
            font-weight: bold;
            font-size: 24px;
            line-height: 27px;
            color: #797979;
            margin-bottom: 1em;
        }
    }

    .img-pos {
        display: flex;
        position: relative;
        margin-bottom: -2em;
        z-index: -1;
        justify-content: flex-end;

        @media(max-width:840px) {
            justify-content: center;

        }
    }
}
