@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

* {
  font-family: Comfortaa;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.make-header {
  display: flex;
  background: deeppink;
  height: 90px;

  .brand {
    margin-top: 2em;
    margin-left: 2em;

    @media (max-width: 767px) {
      margin-left: 1em;
    }
  }
}

.make-payment {
  margin: 0 15em;

  @media (max-width: 767px) {
    margin: 0;
  }

  .order-summary {
    margin-top: 4em;
    display: flex;
    flex-flow: column wrap;

    .top {
      display: flex;
      justify-content: space-between;

      .top__items {
        font-size: 18px;
        line-height: 234.38%;
        color: rgba(0, 0, 0, 0.6);

        .link {
          color: rgba(0, 0, 0, 0.6);
          text-decoration: none;
        }
      }
    }

    .total-amount {
      display: flex;
      justify-content: space-between;
      padding: 2.3em 2em;
      margin-top: 0.6em;
      height: 100px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);

      .amount {
        font-size: 22px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  .pay-card-heading {
    margin-top: 1em;
    font-size: 18px;
    line-height: 234.38%;
    color: rgba(0, 0, 0, 0.6);
  }

  .pay-with-form {
    margin-top: 1em;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);

    .pay-form-wrap {
      display: flex;
      flex-flow: column wrap;
      padding: 2em 2em 1em;

      @media (max-width: 767px) {
        padding: 1em;
      }

      .pay-input::-webkit-input-placeholder,
      .pay-textarea::-webkit-input-placeholder {
        color: grey;
        font-size: 14px;
      }

      .pay-input {
        height: 3em;
        width: 100%;
        margin-bottom: 1em;
        border: 1px solid grey;
        outline: none;
        padding-left: 1em;
        transition: all 0.5s ease-in-out;

        &:focus,
        &:hover {
          border: 1px solid deeppink;
        }
      }

      .pay-textarea {
        width: 100%;
        border: 1px solid grey;
        outline: none;
        padding: 1em;
        transition: all 0.5s ease-in-out;

        &:focus,
        &:hover {
          border: 1px solid deeppink;
        }
      }

      .btn-pay-now {
        width: 100%;
        height: 3em;
        margin: 2.5em 0;
        text-transform: uppercase;
        border: none;
        height: 40px;
        line-height: 40px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 40px;
          background-color: #eb2188;
          z-index: -2;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          line-height: 40px;
          background-color: darken(#eb2188, 10%);
          transition: all 0.3s;
          z-index: -1;
        }

        &:hover {
          color: #fff;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  // .pay-with-new {
  //   margin-top: 1em;
  //   display: flex;
  //   flex-flow: column wrap;
  //   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);

  //   .pay-card-form {
  //     display: flex;
  //     justify-content: space-between;
  //     padding: 1.5em 2em;

  //     .card-type {
  //       font-size: 22px;
  //       line-height: 25px;
  //       color: rgba(0, 0, 0, 0.4);

  //       .card-input {
  //         margin-top: -0.4em;
  //         margin-left: -0.5em;
  //       }
  //     }

  //     .left-type {
  //       display: flex;

  //       .master {
  //         .card-h5 {
  //           font-size: 20px;
  //         }

  //         .card--p {
  //           font-size: 14px;
  //           color: rgba(155, 154, 154, 0.4);
  //         }
  //       }
  //     }
  //   }

  //   .card-entry {
  //     padding: 1.5em 2em;

  //     .card-form {
  //       display: flex;
  //       flex-flow: column wrap;

  //       .numb-input {
  //         border-top: none;
  //         border-right: none;
  //         border-left: none;
  //         border-bottom: 1px solid rgba(155, 154, 154, 0.4);
  //         margin-bottom: 1em;
  //         height: 3em;
  //         outline: none;
  //       }

  //       .select-details {
  //         display: flex;
  //         flex-flow: row wrap;
  //         margin-bottom: 1em;

  //         @media (max-width: 767px) {
  //           flex-flow: column;
  //         }

  //         .select-children {
  //           flex: 1;
  //           background: #fff;
  //           justify-content: space-around;
  //           border-top: none;
  //           border-right: none;
  //           border-left: none;
  //           border-bottom: 1px solid rgba(155, 154, 154, 0.4);
  //           margin-bottom: 1em;
  //           height: 3em;
  //           outline: none;
  //         }

  //         .input-children {
  //           border-top: none;
  //           border-right: none;
  //           border-left: none;
  //           border-bottom: 1px solid rgba(155, 154, 154, 0.4);
  //           height: 3em;
  //           outline: none;
  //         }
  //       }
  //       // .cvv {
  //       //   display: flex;
  //       // }
  //     }
  //   }
  // }
}
