@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.cards {
  .row {
    flex-wrap: nowrap;
  }
  width: 400px;

  margin: 1.5rem 0;

  &:hover {
    cursor: pointer;
  }
  .foodName {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.87);
    mix-blend-mode: normal;
  }
  .price,
  .kitchen {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(102, 102, 102, 0.6);
    mix-blend-mode: normal;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    .foodName {
      font-size: 14px;
    }
    .co {
      width: 10rem;
      height: 120px;
    }
  }
}

