.shopping--cart {
  // border-bottom: 1px solid #E3E3E3;
  margin-top: 5rem;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    margin-top: 2rem;
    color: #1f3f68;

    @media (max-width: 767px) {
      font-size: 1.5em;

    }

  }

  &__counter {
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 16px;

    }
  }

  &__flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: Comfortaa;
    font-style: normal;
    font-size: 1.5em;
    line-height: 25px;
    color: #1f3f68;

    @media (max-width: 767px) {
      font-size: 1em;
    }
  }
}


.grand--total {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  margin: 2em 0;
  float: none;


  &__price {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 20px;
    color: #1f3f68;

  }

  &__text {
    font-family: Comfortaa;
    font-style: normal;
    font-size: 1em;
    line-height: 16px;
    color: #1f3f68;

  }
}


.proceed-checkout {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  background: #EB2188;
  color: #FFFFFF;
  border: none;
  padding: 1rem;
}


@media (max-width: 767px) {
  .grand--total {
    align-items: center;
  }
}
