.accordion input {
  display: none;
}

.accordion {
  width: 75%;
  margin: 1rem auto;
}

.box {
  position: relative;
  background: #F7F8FA;;
  height: max-content;
  transition: all 0.15s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  // box-shadow: 0 -1px 0 whitesmoke, 0 0 2px rgba(0, 0, 0, 0.12),
  //   0 2px 4px rgba(0, 0, 0, 0.24);
}

header.box {
  z-index: 100;
  cursor: initial;
  
}
.t {
  padding-bottom: 0.6rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 20px;
  color: #eb2188;
  display: block;
  font-size: 1.5rem;
  padding: 0.7rem 0.5rem;

}
.box-title {
  height: 54px;
  line-height: 64px;
  padding: 0 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid #eb2188;

  // color: #EB2188;
  display: block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-content {
  padding: 10px 20px;
  font-size: 11pt;
  color: rgba(0, 0, 0, 0.54);
  display: none;
}

.box-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

input:checked + .box {
  height: auto;
  margin: 16px 0;
}


input:checked + .box .box-content,
input:checked + .box .box-close {
  display: inline-block;
}

.arrows section .box-title {
  padding-left: 44px;

}

.arrows section .box-title:before {
  position: absolute;
  display: block;
  content: "\203a";
  font-size: 1rem;
  left: 20px;
  top: -2px;
  transition: transform 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.54);
  transform: rotate(-90deg);
}

input:checked + section.box .box-title:before {
  transform: rotate(90deg);
}


@media screen and (max-width: 425px){
  .accordion{
    width: 95%
  }
}