.sidebar {
  display: inline-block;
  width: 250px;
  margin-top: 2rem;

  .item {
    border-bottom: 1px solid grey;
    padding: 0.9rem 0; 
    list-style-type: none;
    &:nth-child(1){
      border-top: 1px solid grey;
      margin-top: .7rem;
    }
  }
  h4 {
    padding-bottom: 0.6rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 20px;
    margin-block-end: 0 ;
    color: #eb2188;
  }
}

@media screen and (max-width: 425px){
  .sidebar{
    display: none;
  }
}