.body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-self: center;

  .sz {
    // width: 95%;
    // margin: 0 auto;

    .imgsec {
      height: 15%;
      // margin: 1rem auto;
      width: 100%;
      margin-bottom: 1em;

      .foodi {
        width: 100%;
        height: auto;
      }
    }

    .menu {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      margin-block-end: 3px;
      color: #1f3f68;
    }

    .mdet {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      color: rgba(31, 63, 104, 0.6);
    }

    .delivery {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;

      color: rgba(31, 63, 104, 0.6);
    }

    .detail {
      margin-top: 2rem;

      .price,
      .qty,
      .del {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        padding: 0.5rem 0;
        color: #1f3f68;
      }
    }
  }

  .btnz {
    // border: 1px solid red;
    text-align: center;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;

    .btn1 {
      background: #080a52;
      border-radius: 4px;
      color: white;
      outline: none;
      border: none;
      padding: 12px;
      margin: 3px;
      font-size: 12px;
      width: 10rem;
      cursor: pointer;
    }

    .btn2 {
      background: #eb2188;
      border-radius: 4px;
      outline: none;
      border: none;
      padding: 12px;
      margin: 3px;
      font-size: 12px;
      width: 10rem;
      color: white;
      cursor: pointe;
    }
  }
}
