.blog__cards {
    margin-bottom: 1em;

    .blog--image {
        .blog-img {
            width: 100%;
        }
    }

    .card--heading,
    .card-text {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: 0.6;
    }
}
