.filter {
  border: 1px solid transparent;
  background: #f2f2f2;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;

  .divOne {
    display: flex;

    .search {
      display: flex;
      flex-basis: 50%;
      align-items: center;

      .fs {
        font-size: 1rem;
        padding-left: 1rem;
        padding-top: 10px;
      }

      .input-icon {
        padding-left: 1rem;

        .icon {
          position: absolute;
        }

        .icon {
          padding-top: 7px;
          padding-left: 15px;
        }

        .input {
          outline: none;
          width: 15rem;
          height: 36px;
          background: white;
          border-radius: 15px;
          border: 1px solid grey;
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
          border-radius: 23px;

          &::-webkit-input-placeholder {
            padding-left: 2rem;
          }
        }
      }
    }
  }

  .divTwo {
    flex-basis: 50%;

    .sec {
      display: flex;
      flex-basis: 50%;
      align-items: center;
      // border: 1px solid red;
      height: 3rem;

      .mob {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .filter {
    .divOne {
      .search {
        padding-top: 10px;

        .fs {
          font-size: 0.8rem;
        }
      }

      display: flex;
      flex-direction: column;

      .input-icon {
        .input {
          width: 10rem !important;
        }
      }
    }
  }

  .divTwo {
    .sec {
      .desk {
        display: none;
      }

      .mob {
        display: block !important;
      }
    }
  }
}

@media screen and (min-device-width: 601px) and (max-device-width: 921px) {
  .filter {
    width: 100% !important;

    .divOne {
      .search {
        .fs {
          font-size: 0.8rem;
        }
      }

      .input-icon {
        .input {
          width: 12rem !important;
        }
      }
    }

    .divTwo {
      .sec {
        .desk {
          display: none;
        }

        .mob {
          display: block !important;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-device-width: 922px) and (max-device-width: 1199px) {
  .filter {
    width: 95% !important;
    // display: flex;


    .divOne {
      .search {
        .fs {
          font-size: 1rem;
          width: 150px !important;
        }
      }

      .input-icon {
        .input {
          width: 12rem !important;
        }
      }
    }

    .divTwo {
      .sec {
        .desk {
          display: none;
        }

        .mob {
          display: block !important;
          cursor: pointer;
        }
      }
    }
  }
}
