@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
$font: 'Comfortaa';

.signup {
  overflow-x: hidden;
  font-family: $font;
  .border {
    height: max-content;
    width: 90vw;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid rgba(31, 63, 104, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    .buttons {
      display: flex;
      flex-basis: 1;
      .in,
      .up {
        flex-basis: 50%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 46px;
        letter-spacing: 0.05em;

        color: #316099;
        cursor: pointer;
        &:hover {
          background: #f1f1f1;
        }
      }
      .in {
        border-top-left-radius: 10px;
      }
      .up {
        border-top-right-radius: 10px;
      }
    }
    .create {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;

      .acc,
      .text,
      .tex {
        display: flex;
        justify-content: center;
      }
      .acc {
        margin-top: 2rem;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 0.05em;
        color: #316099;
      }
      .text {
        margin-block-end: 0;
        line-height: 16px;
      }
      .tex {
        margin-block-start: 0;
      }
      .text,
      .tex {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #1f3f68;
        opacity: 0.6;
      }
    }
    .auth {
      display: flex;
      justify-content: space-around;
      width: 65%;
      margin: 0 auto;

      button {
        width: 324px;
        height: 40px;
        background: #ffffff;
        border: 1px solid rgba(31, 63, 104, 0.5);
        border-radius: 10px;
        span {
          font-family: Comfortaa;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #1f3f68;
          opacity: 0.6;
        }
      }
    }
    .form {
      width: 60%;
      margin: 1.5rem auto;
      .form-mob {
        display: none;
      }
      .signin {
        width: 100%;
        text-transform: uppercase;
        color: white;
        background: #eb2188;
        border-radius: 4px;
        height: 46px;
        outline: none;
        border: none;
      }
    }
    .retrieve {
      max-width: inherit;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      .forgot {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 455px) {
  .form-desktop {
    display: none;
  }
  .form-mob {
    display: block !important;
  }
  .acc {
    margin-top: 1.5rem;
  }
  .auth {
    display: flex;
    flex-direction: column;
    height: 10rem !important;
    button {
      margin-left: -3rem;
    }
  }
}

@media screen and (max-width: 850px) {
  .form-desktop {
    display: none;
  }
  .form-mob {
    display: block !important;
  }
  .acc {
    margin-top: 1.5rem;
  }
  .auth {
    display: flex;
    width: 85% !important;
    button {
      margin: 5px;
      margin-top: 2.5rem;
    }
  }
}
