.restaurant-list-wrapper {
    position: relative;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    display: inline-block;
    border: 3px solid rgba(44, 42, 42, 0.1);
    border-left-color: deeppink;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: donut-spin 2s linear infinite;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}
