.dishes {
    margin: 3em 1.5em;

    @media (max-width:767px) {
        margin: 2em 0 0;
    }

    .dishes-h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 300%;
        color: #666666;
    }

    .dishes-cat-input {
        display: flex;

        .dishes-id-input {
            width: 70%;
            height: 45px;
            border: 1px solid #E3E3E3;
            padding-left: 1em;
            box-sizing: border-box;

            &::-webkit-input-placeholder {
                font-size: 16px;
                line-height: 23px;
                color: rgba(102, 102, 102, 0.5);
            }

        }

        .btn-search-dishes {
            width: 30%;
            justify-content: center;
            background: #eb2188;
            border: none;
            height: 45px;
            line-height: 50px;
            color: #fff;
            cursor: pointer;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                line-height: 40px;
                background-color: #eb2188;
                z-index: -2;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                line-height: 40px;
                background-color: darken(#eb2188, 10%);
                transition: all 0.3s;
                z-index: -1;
            }

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }
        }
    }

    .select-box {
        display: flex;

        @media (max-width:768px) {
            margin: 2em 0 0;

        }

        .select-cat {
            height: 45px;
            background: #FFF;
            border: 1px solid #E3E3E3;
            color: rgba(102, 102, 102, 0.6);
            width: 80%;

            @media (max-width:768px) {
                width: 100%;
            }
        }
    }

    .btn-add-dishes {
        width: 100%;
        justify-content: center;
        background: #eb2188;
        border: none;
        height: 45px;
        line-height: 50px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 40px;
            background-color: #eb2188;
            z-index: -2;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            line-height: 40px;
            background-color: darken(#eb2188, 10%);
            transition: all 0.3s;
            z-index: -1;
        }

        &:hover {
            color: #fff;

            &:before {
                width: 100%;
            }
        }
    }

    .dishes-wrapper {
        margin: 2em 0;
        padding: 1em 2em;
        border: 1px solid #E3E3E3;

        .top-wrapper {
            display: flex;
            justify-content: space-between;


            .dishes-name-h3 {

                font-size: 22px;
                line-height: 300%;
                color: #666666;
            }

            .hidden-content {
                font-size: 40px;
                cursor: pointer;
            }
        }

        .dishes-card {
            background: #FFFFFF;
            border: 1px solid #D4D4D4;
            box-sizing: border-box;
            margin-bottom: 1.5em;
            position: relative;

            .dishes-img {
                .dish-avatar {
                    display: block;
                    width: 100%;
                }
            }

            .dishes-name {
                font-weight: bold;
                font-size: 16px;
                line-height: 18px;
                color: #666666;
                padding: 1em;
            }

            .hidden-menu {
                cursor: pointer;
                font-size: 2em;
                padding: 0 .3em;
                margin-top: -1.1em;
            }

            .price-tag {
                position: absolute;
                top: 0;
                right: 0;
            }

            .price-tag-text {
                position: absolute;
                top: .6em;
                right: .6em;
                color: #FFF;
            }
        }

        .add-dish-icon {
            display: flex;
            justify-content: center;
            cursor: pointer;

            .new-dish-icon {
                border-radius: 50%;
                transition: all .5s ease-in-out;

                &:hover {
                    box-shadow: 0px 0px 8px 0px #eb2188;
                }
            }
        }
    }

}
