@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

* {
  font-family: Comfortaa;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.content-area {
  display: flex;
  padding: 4em 2em 0 2em;

  @media (max-width: 840px) {
    padding: 0;

    .container-fluid {
      padding-left: 0.2em;
    }

    .h5 {
      font-size: 1em;
    }

    .p {
      font-size: 1.8em;
    }
  }

  hr {
    background: #eb2188;
    border: 0.75px solid #eb2188;
    height: 3px;
  }

  .wrap {
    padding: 0 3em;

    @media (max-width: 840px) {
      padding: 0;
    }

    .date {
      color: #797979;
      font-size: 0.8em;
      margin-top: 1em;
      line-height: 20px;
      letter-spacing: 0.03em;

      @media (max-width: 840px) {
        padding: 0.5rem;
      }
    }

    .terms {
      .h5 {
        color: #eb2188;
        margin-top: 1em;
        padding-bottom: 0.3em;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 0.03em;

        @media (max-width: 840px) {
          font-size: 1rem;
          padding: 0.5rem;
        }
      }

      .p {
        color: #1f3f68;
        font-size: 1em;
        line-height: 20px;
        letter-spacing: 0.05em;

        @media (max-width: 840px) {
          font-size: 0.75rem;
          padding: 0.5rem;
        }
      }
    }
  }

  .img {
    display: flex;
    margin-left: auto;

    @media (max-width: 840px) {
      margin: 0 auto;
    }
  }
}
