.Collapsible {
  background-color: white;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0;
}

.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
  background: #fff;
  color: #666666;
}

.Collapsible__trigger:after {
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}

.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey;
}

.account-info {
  .main-info {
    margin: 0 7em;

    @media (max-width: 767px) {
      margin: 0;
    }

    .info-h4 {
      cursor: pointer;
      font-size: 24px;
      line-height: 300%;
      color: #666666;
    }

    .change-pass {
      cursor: pointer;
      font-size: 22px;
      line-height: 110%;
      border: 1px solid #d4d4d4;
      color: #666666;
    }

    .update-picture {
      display: flex;
      margin: 0 auto;
      border-radius: 50%;
      width: 200px;
      height: 195.82px;
      position: relative;

      .blurry-img {
        display: block;
        width: 100%;
        height: auto;
      }

      .update-img {
        position: absolute;
        cursor: pointer;
        top: 38%;
        left: 38%;
      }
    }

    .update-form {
      display: flex;
      flex-flow: column wrap;
      margin: 2em 0 1em 0;
      // border: 2px solid black;

      .update-input {
        width: 100%;
        height: 2.5em;
        margin: 1em 0;
        background: #ffffff;
        border: 1px solid #d4d4d4;
        box-sizing: border-box;
        padding-left: 1.5em;

        &::-webkit-input-placeholder {
          font-size: 16px;
          line-height: 23px;
          color: rgba(102, 102, 102, 0.5);
        }
      }

      .update-textarea {
        width: 100%;
        margin: 1em 0;
        background: #ffffff;
        border: 1px solid #d4d4d4;
        box-sizing: border-box;
        outline: none;
        padding-left: 1.5em;
        padding-top: 1.5em;
        transition: all 0.5s ease-in-out;

        &:hover,
        &:focus {
          border: 1px solid #eb2188;
        }

        &::-webkit-input-placeholder {
          font-size: 13px;
          line-height: 23px;
          color: rgba(102, 102, 102, 0.5);
        }
      }
    }

    .update-password {
      display: flex;
      flex-flow: column wrap;
      margin-top: 2em;

      .password-input {
        width: 100%;
        height: 2.5em;
        margin: 1em 0;
        background: #ffffff;
        border: 1px solid #d4d4d4;
        box-sizing: border-box;
        padding-left: 1.5em;

        &::-webkit-input-placeholder {
          font-size: 16px;
          line-height: 23px;
          color: rgba(102, 102, 102, 0.5);
        }
      }

      .delete-acc {
        margin: 1em 0;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
