@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.landingpage--header {
  background-image: url(https://res.cloudinary.com/doo1zd8pn/image/upload/v1580058022/Rectangleheader_v1w7mw.png);
  height: 41em;
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  &__title {
    margin-top: 5rem;
    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    text-align: center;
    line-height: 4.5rem;
    letter-spacing: 0.04em;
    color: #1f3f68;
  }

  &__text {
    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.9rem;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .landingpage--header {
    &__title {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}
