@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

#blue-color {
  color: #1f3f68;
}

#white-color {
  color: #fff;
  text-decoration: none;
}

#pink-color {
  color: #eb2188;
  text-decoration: none;
}

.cart-qty {
  font-family: Comfortaa;
  font-size: 14px;
  text-align: center;
  height: 15px;
  min-width: 20px;
  color: #eb2188;
  background-color: #fff;
  position: absolute;
  right: 30%;
  top: 40%;
  
  
}

#icon-blue {
  display: none;
}
#icon-white {
  display: none;
}
#icon-pink {
  display: none;
}
.d-down {
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  font-size: 1rem;
  z-index: 7;
}

.brand-logo {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}

.menu-link {
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 1em;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

#menu-link-group {
  margin-left: 40em;
}



@media only screen and (max-width: 1024px) {
  #menu-link-group {
    margin-top: 2.1rem;
    margin-left: 14em;
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  #hide-list {
    display: none;
  }

  #icon-pink {
    display: block;
    color: #eb2188;
  }
  #icon-blue {
    display: block;
    color: #1f3f68;
  }
  #icon-white {
    display: block;
    color: #fff;
  }
  #menu-link-group {
    position: relative;
    right: 16.5em;
    bottom: 2rem;
  }
  .cart-qty{
    left: 11%;
    width: 14px;
  }

  .d-down {
    display: none;
  }

  .d-down-link {
    &:hover {
      text-decoration: none;
    }
  }
}
