.fi {
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  align-items: center;

  margin-top: 2rem;

  .list {
    list-style: none;
    font-size: 12px;
    span {
      margin-left: 5px;
    }
  }
}
