.reviews {
  
  .info {
    display: flex;
    justify-content: space-between;

    .buttons {
      flex-basis: 45%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      button {
        width: 12rem;
        height: 3rem;
        outline: none;
        border: none;
        background: transparent;
        span {
          padding-left: 10px;
        }
      }
    }
  }
  .available {
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  .reviews {
    .info {
      flex-direction: column;
      justify-content: flex-start;
      .buttons {
        flex-direction: column;
        justify-content: flex-start;

        position: relative;
        button {
          align-items: flex-start;
          justify-content: flex-start;
          margin: 10px 0;
          position: relative;
          
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 40px;
            background-color: #f2f2f2;
            border-radius: 4px;
            z-index: -2;
        }
  
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            line-height: 40px;
            background-color: darken(#f2f2f2, 10%);
            transition: all 0.3s;
            border-radius: 4px;
            z-index: -1;
        }
  
        &:hover {
            color: #1F3F68;
  
            &:before {
                width: 100%;
            }
        }
        }
      }
    }

    .available {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1rem;

      .d {
        display: flex;
        justify-content: center;
        padding: 15px 0;

        background: #f2f2f2;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
      }
    }
  }
}


@media screen and (min-device-width: 601px) and (max-device-width: 921px){
    .reviews{
      .available{
        .d{
          font-size: 9.4px;
          padding: 0 10px;
          font-weight: bold;
        }
      }
    }
 }

 @media screen and (min-device-width: 922px) and (max-device-width: 1050px){
  .reviews{
    .available{
      .d{
        font-size: 12px;
        padding: 0 10px;
        font-weight: bold;
      }
    }
  }
 }

//  @media screen and (min-device-width: 1024px){
//   .reviews{
//     .available{
//       .d{
//         font-size: 12px;
//         padding: 0 10px;
//         font-weight: bold;
//       }
//     }
//   }
//  }