.review-order {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 56px;
  padding: 2rem 0;
  color: rgba(102, 102, 102, 0.6);
}
.section-one {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 234.38%;
  color: rgba(0, 0, 0, 0.6);
}
.two{
    margin-top: 3rem;
}
.three{
  margin-top: 3rem;
}

.delivery--information {
  border: 2px solid #e3e3e3;
  box-sizing: border-box;
  padding: 2rem;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;

  color: rgba(0, 0, 0, 0.4);
  &__edit{
    cursor: pointer;
  }
}
.border{
    border: 2px solid #e3e3e3;
    padding: 2rem;
   
}
.payment-method{
  display: flex;
  flex-flow: row wrap;
}

.split-items{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.pay-with-card{
  font-family: Comfortaa;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 234.38%;
color: rgba(0, 0, 0, 0.4);
margin-right: 2rem;
}

.grand-total{
  margin-bottom: 5rem;
}

.btn-proceed{
  margin-top: 3rem;
  text-align: center;
}


@media screen and (min-width: 375px) and (max-width: 414px){
  .review-order{
    font-size: 30px;
    padding-bottom: 0;
  }
  .delivery--information{
    font-size: 14px; 
    &__edit{
      color: red;
      margin-top: 2rem;
      cursor: pointer;
    }
  }
}