.new-dish {
  margin: 3em 1.5em;

  @media (max-width: 767px) {
    margin: 2em 0 0;
  }

  .new-dish--h2 {
    font-size: 26px;
    line-height: 300%;
    color: #666666;
  }

  .post-dish {
    .btn-post-dish {
      width: 35%;
      justify-content: center;
      background: #eb2188;
      border: none;
      height: 50px;
      line-height: 50px;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 40px;
        background-color: #eb2188;
        z-index: -2;
      }

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        line-height: 40px;
        background-color: darken(#eb2188, 10%);
        transition: all 0.3s;
        z-index: -1;
      }

      &:hover {
        color: #fff;

        &:before {
          width: 100%;
        }
      }
    }
  }

  .new-dish-form {
    margin: 0 9em;

    @media (max-width: 767px) {
      margin: 0 2em;
    }

    form {
      display: flex;
      flex-flow: column wrap;

      .new-dish-input,
      .category-select {
        height: 4em;
        background: #ffffff;
        border: 1px solid #d4d4d4;
        padding-left: 2em;
        outline: none;
        box-sizing: border-box;
        margin-bottom: 1em;
        transition: all 0.5s ease-in-out;

        &:hover,
        &:focus {
          border: 1px solid #eb2188;
        }

        &::-webkit-input-placeholder {
          font-size: 16px;
          line-height: 23px;
          color: rgba(102, 102, 102, 0.5);
        }
      }

      .select-dish {
        cursor: pointer;
        padding-left: 1em;
        font-size: 20px;
        margin-bottom: 1em;
        line-height: 180%;
        border: 1px solid #d4d4d4;
        color: rgba(102, 102, 102, 0.5);
      }

      .category-select {
        height: 3em;
        padding-left: 1.5em;
        font-size: 1.3em;
        color: darken(#eb2188, 10%);
      }

      .file-upload {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffffff;
        margin-bottom: 1em;
        border: 1px solid #d4d4d4;
        box-sizing: border-box;
        padding: 7em 0;
        outline: none;
        transition: all 0.5s ease-in-out;

        &:hover,
        &:focus {
          border: 1px solid #eb2188;
        }

        .upload-icon {
          cursor: pointer;
        }

        .file-text {
          font-size: 18px;
          line-height: 23px;
          color: #666666;
        }
      }

      .btn-submit-dish {
        width: 100%;
        justify-content: center;
        background: #eb2188;
        border: none;
        height: 50px;
        line-height: 50px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;
        margin-bottom: 1em;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 40px;
          background-color: #eb2188;
          z-index: -2;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          line-height: 40px;
          background-color: darken(#eb2188, 10%);
          transition: all 0.3s;
          z-index: -1;
        }

        &:hover {
          color: #fff;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
