.fc {
  cursor: pointer;
  margin-bottom: 2em;



  .b {
    .card-images {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .card-body {
    display: flex;
    align-items: center;
    flex-direction: column;


    .food {
      font-size: 1.3rem;
    }

    .price {
      font-size: 0.8rem;
      text-align: center;
    }
  }

}
