.pagn {
  width: 90%;
  margin: 0 auto;
  text-align: center;

  .lr,
  .rr {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;

    &:hover {
      background: deeppink;
      color: white;
    }
  }

  .pg {
    padding: 0 10px;
  }
}
