@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
$label-color:#1F3F68;


.form-group{
    display: flex;
    flex-direction: column;
    ::placeholder{
        position: relative;
        font-family: 'Comfortaa', cursive;
        left: 1em;
        line-height: 177.04%;
    }
       
    label{
        font-family: 'Comfortaa', cursive;
        color: $label-color;
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 177.04%;
    }
    input {
     height: 40px;
    }
    .radius {
        border-radius: 4px;
    }
    .bg{
        background: #F6F6F6;
        color: #666666;
    }
     .lg {
        border: 0.5px solid #CCCCCC;
        padding-left: 1em;
        }
        
        .md {
        width: 50%;
        border: 0.5px solid #CCCCCC;
        padding-left: 1em;
        }
        .sm {
        width: 25%;
        border: 0.5px solid #CCCCCC;
        padding-left: 1em;
        }
}
