  .red {
      color: #DC2F2F;
  }

  .green {
      color: #389B72;
  }

  .history {
      .main-history {
          margin: 3em 5em;

          @media (max-width:767px) {
              margin: 2em 0 0;
          }

          .history-order {
              display: flex;

              .order-id-input {
                  width: 70%;
                  height: 50px;
                  border: 1px solid #E3E3E3;
                  padding-left: 1em;
                  box-sizing: border-box;

                  &::-webkit-input-placeholder {
                      font-size: 16px;
                      line-height: 23px;
                      color: rgba(102, 102, 102, 0.5);
                  }

              }

              .btn-search-order {
                  width: 30%;

                  justify-content: center;
                  background: #eb2188;
                  border: none;
                  height: 50px;
                  line-height: 50px;
                  color: #fff;
                  cursor: pointer;
                  transition: all 0.3s;
                  position: relative;
                  overflow: hidden;
                  z-index: 1;

                  &:after {
                      content: "";
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                      line-height: 40px;
                      background-color: #eb2188;
                      z-index: -2;
                  }

                  &:before {
                      content: "";
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 0%;
                      height: 100%;
                      line-height: 40px;
                      background-color: darken(#eb2188, 10%);
                      transition: all 0.3s;
                      z-index: -1;
                  }

                  &:hover {
                      color: #fff;

                      &:before {
                          width: 100%;
                      }
                  }
              }
          }

          .select-box {
              display: flex;
              justify-content: flex-end;

              @media (max-width:768px) {
                  margin: 2em 0 0;

              }

              .select-cat {
                  height: 45px;
                  background: #FFF;
                  border: 1px solid #E3E3E3;
                  color: rgba(102, 102, 102, 0.6);
                  width: 70%;

                  @media (max-width:768px) {
                      width: 100%;
                  }
              }
          }

          .history-details {
              display: flex;
              flex-flow: column wrap;
              padding: 2em 1.2em 0 1.2em;
              margin: 2.5em 0;
              border: 2px solid #E3E3E3;
              box-sizing: border-box;



              .rest-name {
                  font-size: 18px;
                  margin-bottom: 2.5em;
                  line-height: 20px;
                  color: rgba(0, 0, 0, 0.4);

                  @media (max-width:768px) {
                      font-size: 15px;
                      text-align: center;
                  }
              }

              .pro-name-details {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  margin-left: 1.5em;

                  @media (max-width:768px) {
                      margin-left: 0;
                  }

                  .pro-name--h5 {
                      font-size: 22px;
                      line-height: 25px;
                      margin-bottom: 1em;
                      color: rgba(0, 0, 0, 0.4);
                  }

                  .product-details {
                      display: flex;
                      flex-flow: row wrap;

                      @media (max-width:768px) {
                          justify-content: center;

                      }

                      .rest-image {
                          width: 100px;
                          height: 90.57px;

                          @media (max-width:768px) {
                              margin-bottom: 1em;

                          }

                          .rest-image-avatar {
                              width: 100%;
                              height: 100%;
                          }
                      }
                  }

                  .rest-details {

                      @media (max-width:768px) {
                          text-align: center;
                      }

                      .rest--h5 {
                          font-size: 16px;
                          line-height: 20px;
                          color: #1F3F68;
                      }

                      .rest--h6 {
                          font-size: 12px;
                          line-height: 20px;
                          color: #1F3F68;
                      }

                      .rest-id {
                          font-weight: 300;
                          font-size: 9px;
                          line-height: 10px;
                          color: rgba(31, 63, 104, 0.6);
                      }
                  }
              }

              .product-quanity {
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: space-between;

                  .quantity-items {
                      .quantity-h5 {
                          font-size: 20px;
                          line-height: 25px;
                          margin-bottom: 1.5em;
                          color: rgba(0, 0, 0, 0.4);

                          @media (max-width:768px) {
                              text-align: center;

                          }
                      }

                      .sub-quan {
                          font-size: 14px;
                          line-height: 18px;
                          color: rgba(31, 63, 104, 0.6);

                      }

                      .delivery-time {
                          font-size: 16px;
                          line-height: 20px;
                          color: rgba(0, 0, 0, 0.4);
                      }

                      .delivery-price {
                          font-size: 16px;
                          line-height: 20px;
                          color: rgba(102, 102, 102, 0.6);
                      }

                      .delivery-status {
                          font-size: 16px;
                          line-height: 20px;
                          margin-top: 2em;

                      }
                  }
              }
          }
      }

      .pagination {
          display: flex;
          justify-content: center;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          color: #979797;

          .pagination-text {
              margin: 0 .5em;
          }

          .box {
              width: 2em;
              height: 2em;
              cursor: pointer;
              border: 1px solid rgba(0, 0, 0, 0.1);
              box-sizing: border-box;
              border-radius: 4px;
          }
      }
  }
