@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
$label-color: #1f3f68;
$color: #eb2188;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.footer {
  background-color: #fff;
  width: 100%;
  padding-top: 1em;
  margin-top: 1rem;

  .content {
    display: flex;
    width: 90%;
    height: inherit;
    margin: 3rem auto;
    justify-content: space-around;

    section {
      h3 {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $label-color;
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
      }

      .w {
        display: flex;
        margin-top: 1rem;

        .mlg {
          width: 75%;
          height: 48px;
          background: #F6F6F6;
          border: none;
          border-radius: 5px;
          padding-left: 1rem;

          &::-webkit-input-placeholder {
            padding-left: 20px;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: 0.03em;
          }
        }

        .b {
          width: 25%;
          height: 48px;
          background-color: #eb2188;
          border-radius: 4px;
          color: white;
          outline: none;
          border: none;
          cursor: pointer;
          font-weight: bold;
          transition: all 0.3s;
          position: relative;
          overflow: hidden;
          z-index: 1;
          font-size: 11px;
          line-height: 162.5%;
          letter-spacing: 0.03em;
          color: #F6F6F6;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 40px;
            background-color: #eb2188;
            border-radius: 4px;
            z-index: -2;
          }

          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            line-height: 40px;
            background-color: darken(#eb2188, 10%);
            transition: all 0.3s;
            border-radius: 4px;
            z-index: -1;
          }

          &:hover {
            color: #fff;

            &:before {
              width: 100%;
            }
          }

        }
      }

      .item {
        list-style: none;
        line-height: 16px;
        cursor: pointer;

        &:hover {
          color: #6285fd;
        }
      }

      .item,

      p {
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.03em;
        cursor: pointer;
        color: #666666;
      }
    }

    span,
    .line {
      width: 33.98px;
      height: 2px;
      background-color: #6285fd;
      margin-bottom: 10px;
      margin-top: 15px;
    }
  }

  .right {
   text-align: center;

    p,
    span {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;

      color: $label-color;
    }

    .space {
      margin: 0 5px;
    }

    a {
      text-decoration: none;
    }
  }

}
.c{
  display: flex;
  flex-direction: row;
  
}
.item{
  margin-right: 3rem;
  margin-top: -.9rem;
}
.social-media{
  display: flex;
  flex-direction: row;
  
  }
  .social-icon{
    margin-right: 2rem;
  }
  .social-title{
    margin-top: 1.5rem;
  }

@media screen and (max-width: 1150px) {
  .footer {
    padding-top: 0;

    .content {

      section {
        h3 {

          text-align: center;
        }
      }

      display: flex;
      flex-wrap: wrap;

      .list {
        text-align: center;
      }

      span,
      .line {
        margin-left: 5rem;

      }

      .ha,
      .b,
      .c {
        // flex-basis: 30%;
        flex-direction: column;
      }

      .c {
        .item {
          text-align: center;
        }
      }


    }
  }
  
}

@media screen and (max-width: 425px) {
  .footer {
    overflow-x: hidden;

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      margin: 15px 0px;

      span,
      .line {
        margin-left: 2rem;

      }

      .list {
        text-align: left;
      }

      .subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
          text-align: center;
        }

        p {
          width: 95vw;
          margin: 0 auto;
          text-align: center;
        }

      }
      .social-title{
        margin-left: 2rem;
      }
.social-media{
  flex-direction: column;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.social-icon{
  margin-bottom: .8rem;
}
      .w {
        width: 90vw;
        margin: 0 auto;

        .mlg {
          width: 65% !important;
          height: 46px !important;
          outline: none;
          border: 1px solid grey;
          background: whitesmoke;

          &::-webkit-input-placeholder {
            padding-left: 5px !important;
            font-size: 12px;
          }
        }

        .b {
          height: 40px !important;
          font-size: 12px;
          text-align: center;
          padding-top: .6rem;
          padding-left: .5rem;
          width: 7rem !important;
        }
      }

      .a,
      .c,
      .b {
        width: max-content;
      }

      .c {

        .item {
          margin-left: 2rem;
          text-align: left;
        }

        .line {
          margin-left: 4rem;

        }
      }
    }

    .subscribe {
      width: 100%;
      margin-top: 5px;

      h3 {
        font-size: 18px !important;
      }

      p {
        width: 250px;
      }
    }

    .right {
      width: 100% !important;

      p {
        font-size: 10px;
      }
    }
  }
}
