@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

#range--comp{
    display: flex;
    flex-direction: column;
   
    &__text{
        font-family: Comfortaa;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
margin: 2rem 0;
color: #1F3F68;
margin-left: -1rem;
margin-top: 1rem;

    }
    &__button{
        width: 19.5rem;
        height: 3rem;
       background: #eb2188;
       color: #fff;
       border: none;
       border-radius: 4px;
        // margin: 2rem 1rem;
       text-transform: none;
       margin-left: -15px;
     
    }
    #range{
        margin-left: -1rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 414px){

#range--comp{
    display: flex;
    flex-flow: column;
    align-items: left;
    
}
&__button{
   margin: 0;
    width: 5rem;
}
#range{
    margin: 0;
}

}
