@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
.side--bar__review {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #1F3F68;
    margin-top: 4rem;
    margin-left: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 414px){
    .side--bar{
display: none;
    }

}