@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.search-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;

  input {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 23rem;
    height: 3rem;
    font-family: Comfortaa;
    padding-left: 4em;


    &::placeholder {
      color: #abb4bd;
    }
  }

  .search-section {
    display: flex;
    flex-flow: row wrap;
  }

  .search {
    display: flex;
    position: relative;

    .search-icon {
      position: absolute;
      left: 17em;
      top: 1.2em;

      @media (max-width: 767px) {
        z-index: 1;
        top: 1.5em;
        left: 2em;
      }
    }
  }

  // .select-res {
  //   width: 13rem;
  //   background: #ffffff;
  //   border: 1px solid #f2f2f2;
  //   box-sizing: border-box;
  //   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  //   border-radius: 5px;
  //   height: 3rem;
  //   font-family: Comfortaa;
  //   padding: 0 1rem;
  //   color: #abb4bd;
  //   margin-left: 3rem;
  // }
}

// .sort {
//   font-family: Comfortaa;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 18px;
//   margin-left: 2rem;
//   margin-top: 1rem;
//   color: #1f3f68;
// }

.text {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  padding: 0 1rem;
  color: #1f3f68;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .search-box {
    flex-flow: column wrap;
    overflow: hidden;

    input {
      margin-top: 1.5rem;
      width: 19.5em;
      text-align: left;
      margin-left: 13rem;

    }

    .search-section {
      flex-flow: row wrap;
    }

    // .select-res {
    //   width: 19.5em;
    //   margin-left: 1rem;
    //   margin-bottom: 1rem;


    // }

    // .sort {
    //   text-align: left;
    //   overflow-x: hidden;
    //   margin-top: 1rem;
    //   margin-left: 1rem;
    // }
  }

  .option {
    width: 2rem;
  }

  .text {
    text-align: left;
  }

  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .input-search {
    position: relative;
    right: 12rem;
    top: -1.2rem;
  }

  .select-res {
    // position: relative;
    top: -4rem;
    left: 35rem;
  }

  .sort {
    // position: relative;
    top: -4rem;
    left: 36.5rem;
  }
}
