@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.sub--menu {
  background: #f1f1f1;
  overflow-x: scroll;
  white-space: nowrap;
  
  
  &__link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Comfortaa;
    font-size: 16px;
    line-height: 18px;
    padding-top: 1rem;
    padding-bottom: .5rem;
   
    
    }
  }
#sub--menu__link{
  color: #1f3f68;
  text-decoration: none;
  padding-left: 2rem;
  &:hover{
    color: #1f3f68;
    cursor: pointer;
  }



  @media screen and (min-width: 320px) and (max-width: 414px){
    .sub--menu{
      margin-top: 3rem;
    }
  }
}