@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.trend--card {
  &__title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
    mix-blend-mode: normal;
    text-align: right;
  }

  &__text {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: right;
    color: rgba(102, 102, 102, 0.6);
  }

  &__star {
    margin-left: 2.3rem;
  }

}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .trend--card {
    display: none;

    &__image {
      width: 100%;
    }

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
    }

    &__star {
      margin-left: 4rem;
    }
  }

  .body {
    margin: 0;
  }

}
