.mid{
  display: flex;
  justify-content: space-around;
  width: 90vw;
  margin:  1rem auto;
}
.title{
   margin-top: 7rem;
}

@media screen and (max-width: 425px){
    .title{
      margin-top:3.5rem !important;
      font-size: 2rem;
      font-weight: bold;
    }
}