.earning-wrapper {
    margin: 3em 1.5em;

    @media (max-width:767px) {
        margin: 2em 0 0;
    }

    .earning-h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 300%;
        color: #666666;
    }

    .earning-data {
        display: flex;
        min-height: 300px;
        flex-flow: column wrap;
        border: 1px solid #E3E3E3;
        padding: 5em 0 0;

        .earning-badge {
            width: 30%;
            margin: 0 auto;
            position: relative;
            padding: 2em;

            .total-text {
                position: absolute;
                top: -.2em;
                left: -.5em;
                width: 215.68px;
                height: 75.69px;
                text-align: center;
                line-height: 75px;
                background: #080A52;
                font-size: 22px;
                box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
                color: #FFF;
            }

            .total-figure {
                width: 323.11px;
                height: 112.01px;
                display: flex;
                justify-content: center;
                line-height: 4em;
                background: #EB2188;
                box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
                font-weight: bold;
                font-size: 36px;
                line-height: 150px;
                color: #FFF;
            }
        }

        .filter-box {
            .filter-input {
                .select-filter {
                    height: 45px;
                    background: #FFF;
                    border: 1px solid #E3E3E3;
                    color: rgba(102, 102, 102, 0.6);
                    width: 70%;

                    @media (max-width:768px) {
                        width: 100%;
                    }
                }
            }
        }

        .table {
            padding: 2em 0;
            border: none;
        }
    }


}
