@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

* {
    font-family: Comfortaa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.restaurant-dashboard {
    overflow-x: hidden;

    .restaurant-profile {
        display: flex;
        flex-flow: column;
        align-items: center;
        align-self: center;
        margin-top: 5rem;


        .restaurant-picture {
            width: 100px;
            height: 94px;
            border-radius: 50%;


        }

        .restaurant-name {
            font-size: 22px;
            line-height: 25px;
            color: #666666;

        }
    }

    .main-dashboard {
        margin-bottom: 3em;

        .restaurant-heading {
            display: flex;
            justify-content: space-evenly;
            border: 1px solid #E3E3E3;
            padding: 1.5em;
            box-sizing: border-box;




            .border-b {
                display: flex;
                margin: 0 auto;
                width: 60px;
                border: 2px solid #EB2188;
            }

            .no-border-b {
                display: none;
                border: none;
                width: 0px;
            }

            .heading-tab {
                font-weight: bold;
                cursor: pointer;
                font-size: 18px;
                line-height: 20px;
                color: #666666;

                @media (max-width:767px) {
                    font-size: 16px;
                }
            }
        }
    }





}
