@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
$color: #eb2188;


.modal-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: Comfortaa;
    padding: 3em 4em;

    @media (max-width:767px) {
        padding: 0;
    }

    .h4 {
        font-size: 25px;
        line-height: 200%;
        border-radius: 4px;
        color: #1f3f68;

    }

    .tagline {
        font-size: 12px;
        line-height: 179%;
        letter-spacing: 0.03em;
        color: #666666;
    }

    .modal-form {
        display: flex;
        flex-flow: column wrap;
        width: 100%;

        .modal-input {
            height: 2.7em;
            background: #FFF;
            border: 1px solid #d4d4d4;
            box-sizing: border-box;
            border-radius: 4px;
            padding-left: 1em;
            margin: 1em 0;

            &::-webkit-input-placeholder {
                padding-left: 20px;
                font-size: 10px;
                line-height: 14px;
                letter-spacing: 0.03em;
            }
        }

        .btn-modal {
            height: 2.7em;
            color: #FFF;
            border: 1px solid $color;
            transition: all 0.3s;
            position: relative;
            border-radius: 4px;
            outline: none;
            overflow: hidden;
            z-index: 1;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                line-height: 40px;
                background-color: $color;
                z-index: -2;
            }

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                line-height: 40px;
                background-color: darken($color, 10%);
                transition: all 0.3s;
                z-index: -1;
            }

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }
        }
    }

    .review {
        display: none;
        margin-top: 4em;

        &-h4 {
            font-size: 25px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: rgba(102, 102, 102, 0.6);
            opacity: 0.6;
        }

        .review-form {
            display: flex;
            flex-flow: column wrap;

            .review-input {
                height: 2.7em;
                background: #FFF;
                border: 1px solid #d4d4d4;
                box-sizing: border-box;
                padding-left: 1em;
                margin: 1em 0;

                &::-webkit-input-placeholder {
                    padding-left: 20px;
                    font-size: 10px;
                    line-height: 14px;
                    letter-spacing: 0.03em;
                }
            }

            .review-text {
                border: 1px solid #d4d4d4;
                margin: 1em 0;

                &::-webkit-input-placeholder {
                    padding-left: 30px;
                    padding-top: 20px;
                    font-size: 10px;
                    line-height: 14px;
                    letter-spacing: 0.03em;
                }
            }

            .btn-review {
                height: 2.2em;
                color: #FFF;
                border: 1px solid $color;
                transition: all 0.3s;
                position: relative;
                overflow: hidden;
                outline: none;
                z-index: 1;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    line-height: 40px;
                    background-color: $color;
                    z-index: -2;
                }

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    line-height: 40px;
                    background-color: darken($color, 10%);
                    transition: all 0.3s;
                    z-index: -1;
                }

                &:hover {
                    color: #fff;

                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }

    @keyframes donut-spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .order-loader {
        display: inline-block;
        border: 4px solid rgba(44, 42, 42, 0.1);
        border-left-color: #f7f7f7;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: donut-spin 1.2s linear infinite;
    }
}
