.test {
  width: 95%;
  margin: 1rem auto;

  .cf {
    display: flex;
    margin-top: 2rem;

    .f {
      // width: 90%;
      margin: 0 auto;

    }
  }
}


@media screen and (max-width: 425px) {
  .cf {
    flex-direction: column-reverse;

    .c {
      width: 95%;
      margin: 2rem auto;

    }
  }
}

@media screen and (min-device-width: 601px) and (max-device-width: 921px) {
  .test {
    .c {
      display: none;
    }

    .f {
      width: 100% !important;
    }
  }
}
