@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

* {
    font-family: Comfortaa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.content-area {
    display: flex;
    padding: 4em 2em 0 2em;

    @media(max-width:840px) {
        padding: 0;
    }

    hr {
        background: #EB2188;
        border: 0.75px solid #EB2188;
        height: 3px;
    }

    .wrap {
        padding: 0 3em;

        @media(max-width:840px) {
            padding: 0;
        }

        .date {
            color: #797979;
            font-size: .8em;
            margin-top: 1em;
            line-height: 20px;
            letter-spacing: 0.03em;
        }

        .terms {
            .h5 {
                color: #EB2188;
                margin-top: 1em;
                padding-bottom: .3em;
                font-size: 1.2em;
                font-weight: bold;
                line-height: 25px;
                letter-spacing: 0.03em;
            }

            .p {
                color: #1F3F68;
                font-size: 1em;
                line-height: 20px;
                letter-spacing: 0.05em;
            }
        }
    }

    .img {
        display: flex;
        margin-left: auto;

        @media(max-width:840px) {
            margin: 0 auto;
        }
    }
}
