@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.wrapper {
  position: relative;
  height: 575px;
  right: 0px;
  top: 52px;

  background: #fcfcfc;
}

.about--section {
  position: relative;
  width: 666px;
  height: 350px;
  left: 15px;
  top: 132px;
  z-index: 1;
  background: #fcfcfc;
  color: #316099;

  &__title {
    position: relative;
    width: 458px;
    height: 46px;
    left: 65px;
    top: 09px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
   
  }

  &__text {
    position: relative;
    width: 458px;
    height: 256px;
    left: 65px;
    top: 6px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 0.05em;
  }
}

.about-section__image {
  position: relative;
  bottom: 450px;
  right: 820px;
}
.about-image {
  position: absolute;
  width: 624px;
  height: 447px;
  left: 688px;
  top: 526px;
  box-shadow: 8px 12px 58px rgba(235, 33, 136, 0.1);
}

@media only screen and (max-width: 1024px) {
  .about--section {
    width: 996px;
    height: 350px;
    
    &__text {
      width: 428px;
      height: 45px;
      padding-right: 4rem;
    }
    &__title {
      padding-right: 3rem;
    }
  }
  .about-image {
    width: 524px;
    height: 447px;
    left: 45rem;
  }
}
@media only screen and(max-width: 1440px) {
  .about--section {
    margin-left: 13.5rem;
  }
}

@media only screen and(max-width: 1280px) {
  .about--section {
    margin-left: 3rem;
  }
}

@media only screen and(max-width: 768px) {
  .about--section {
    margin-left: 0;
  }
  .about-image {
    top: rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .about--section {
    width: 0;
    top: -40px;
    left: -45px;
    background: transparent;
    position: relative !important;
   
    &__title {
      font-size: 1.5em;
      left: 8.5rem;
      width: 240px;
      top: 9em;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 1em;
      width: 375px;
      top: 10rem;
      left: 1.5rem;
      opacity: 0.9;
      padding: 2rem;
      
      
    }
  }

  .about-image {
    height: 250px;
left: 40rem;
    width: 350px;
    top: 25em;
    
  }
}
