@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.pink-bg {
    position: relative;
    top: 740px;
 
  height: 447px;
  
  background: rgba(235, 33, 136, 0.05);
}

.ceo--section {
  position: relative;
  left: 0px;
  bottom: 1636px;
  &__team {
    position: absolute;
    width: 183px;
    height: 26px;
    left: 137px;
    top: 1733px;

    font-family: "Comfortaa";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
  }
  &__title {
    position: absolute;
    width: 148px;
    height: 46px;
    left: 137px;
    top: 1769px;

    font-family: "Comfortaa";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
  }
  &__text {
    position: absolute;
    width: 458px;
    height: 215px;
    left: 137px;
    top: 1835px;

    font-family: "Comfortaa";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
    text-align: justify;
    
  }
  
}



.image--section{
    position: relative;
 right: 750px;
  bottom: 1656px;
&__vector{
    position: absolute;
    width: 475px;
    height: 365px;
    left: 896px;
    top: 1565px;
    
}
&__photo{
    position: absolute;
    width: 334px;
    height: 366px;
    left: 980px;
    top: 1687px;
    border-radius: 201.5px;
}
}

@media only screen and (max-width:1024px){
  .pink-bg{
  
  }
  .ceo--section{
    left: -5rem;
    
  }

  .image--section{
   width: 50px;
    &__vector{
     display: none;
    }
    &__photo{
      top: 105rem;
      left: 53rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
.pink-bg{
  background: transparent;
}
.ceo--section{
 left: -7rem;
 width: 375px;
 bottom: 97rem;
 
  &__team{
    width: 250px;
    font-size: 2rem;
    text-align: center;
    left: 10rem;
    
  }
  &__title{
    width: 250px;
    text-align: center;
    font-size: 1.5rem;
    left: 10rem;
  }
  &__text{
    width: 350px;
    text-align: justify;
    padding-right: 3rem;
  }
}

.image--section{
  width: 375px;
  bottom: 83rem;
  &__vector{
    display: none;
  }
  &__photo{
    width: 240px;
    height: 240px;
    top: 63rem;
    left: 50rem;
  }
}
}