.counter--wrapper {
  position: relative;
  bottom: 1450px;
}

.founded--section {
  &__head {
   
  }
  &__icon {
    position: absolute;
    font-size: 1.8rem;
    left: 140.72px;
    top: 2294.19px;

    color: #ffffff;
  }
  &__background {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 129.01px;
    top: 2283px;
    border-radius: 100px;
    background: #f1be38;
  }
  &__title {
    position: absolute;
    width: 113.92px;
    height: 19.37px;
    left: 199px;
    top: 2287px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9519px;
    line-height: 18px;
    text-align: left;

    color: #797979;
  }
  &__text {
    position: absolute;
    width: 224px;
    height: 50px;
    left: 129px;
    top: 2348px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 13.67px;
    line-height: 15px;

    color: #797979;
  }
}

.users--section {
  &__head {
    
  }
  &__icon {
    position: absolute;
    font-size: 1.8rem;
    left: 190px;
    top: 2294px;

    color: #ffffff;
  }
  &__background {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 182px;
    top: 2283px;
    border-radius: 100px;
    background: #8ac541;
  }
  &__title {
    position: absolute;
    width: 55.04px;
    height: 19.37px;
    left: 260.27px;
    top: 2287px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9519px;
    line-height: 18px;
    text-align: left;

    color: #797979;
  }
  &__text {
    position: absolute;
    width: 236.8px;
    height: 50.13px;
    left: 182px;
    top: 2347.94px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 13.67px;
    line-height: 15px;

    color: #797979;
  }
}

.office--section {
  &__head {
   
  }
  &__icon {
    position: absolute;
    font-size: 2rem;
    left: 184px;
    top: 2292px;

    color: #ffffff;
  }
  &__background {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 175px;
    top: 2283px;
    border-radius: 100px;
    background: #a45ed2;
  }
  &__title {
    position: absolute;
    width: 68px;
    height: 20px;
    left: 270.84px;
    top: 2286px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9519px;
    line-height: 18px;
    text-align: left;

    color: #797979;
  }

  &__text {
    position: absolute;
    width: 236.8px;
    height: 50.13px;
    left: 175px;
    top: 2347.94px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 13.67px;
    line-height: 15px;

    color: #797979;
  }
}

.reach-us-text {
  position: absolute;
  width: 1007px;
  height: 140px;
  left: 129px;
  top: 2492px;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: 300;
  font-size: 18.77px;
  line-height: 31px;

  color: #797979;
}

.bottom-image {
  position: absolute;
  width: 180px;
  height: 201px;
  left: 1069px;
  top: 2655px;
}
@media only screen and (max-width: 1024px) {
  .counter--section {
    width: auto;
  }
  .founded--section {
    left: -5rem;
  }
  .users--section {
    left: -9rem;
  }
  .office--section {
    left: -9rem;
  }

  .reach-us-text {
   
    left: 3rem;
    width: 512px;
  }
  .reach-us-text{
    padding-right: 5rem;
    width: 912px;
  }
  .bottom-image {
    left: 50rem;
    top: 167rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 414px) {

  .counter--wrapper{
    top: -78rem;
  }
    .founded--section{
        left: 1rem;
        top: -5rem;
        width: 375px;
       
        &__title{
            top: 147rem;
            width: 217px;
            left: 3rem;
            font-size: 1.5rem;  
        }
        &__text{
            top: 149rem;
            left: 3rem;
            text-align: justify;
            padding: 1rem;
        }
    }

    .users--section{
        top: 10rem;
        left: -9.5rem;
&__title{
    width: 217px;
    top: 147rem;
    left:10rem;
}

&__text{
    left: 5.5rem;
    margin-top: 1rem;
    padding: 1rem;
    text-align: justify;
}}

.office--section{
    top: 24rem;
    left: -16rem;
    
    &__title{
        width: 217px;
        top: 147rem;
        left: 9rem;
    }
    &__text{
        left: 5rem;
        margin-top: 1rem;
        padding: 1rem;
        text-align: justify;
    }

    }





    .how-to-reach-us{
        width: 375px;
        margin-bottom: 33rem;
       
    }

    .reach-us-text{
        width: 325px;
        text-align: justify;
        padding-right: 2rem;
        top: 180rem;

    }

    .bottom-image{
        display: none;
    }
}