.mission--section {
  position: relative;
  bottom: 920px;
  right: 750px;
  &__title {
    position: absolute;
    width: 458px;
    height: 46px;
    left: 845px;
    top: 1178px;

    font-family: "Comfortaa";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
  }
  &__text {
    position: absolute;
    width: 458px;
    height: 215px;
    left: 845px;
    top: 1244px;

    font-family: "Comfortaa";
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
  }
}



.image-box {
  position: relative;
  bottom: 920px;
  right: 50px;
  .macaroni {
    position: absolute;
    width: 226px;
    height: 226px;
    left: 96.69px;
    top: 930.18px;
    transform: rotate(51.35deg);
}
}
//Diary image part
.image--one {

  &__transparent {
    position: absolute;
    width: 166px;
    height: 166px;
    left: 401px;
    top: 1170px;
    border: 1px solid #ffba49;
    box-sizing: border-box;
    border-radius: 100px;
    z-index: 1;
  }
  &__filled {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 424px;
    top: 1094px;
    border-radius: 100px;
    background: #6fcf97;
  }

  &__picture {
    position: absolute;
    width: 149px;
    height: 184px;
    left: 424px;
    top: 1109px;
    z-index: 0;
  }
}


//Laptop part
.image--two{
    &__transparent{
        position: absolute;
        width: 166px;
        height: 166px;
        left: 169px;
        top: 1352px;
        border-radius: 100px;
        border: 1px solid #6FCF97;
        box-sizing: border-box;
        z-index: 1;
    }
    &__filled{
        position: absolute;
        width: 55px;
        height: 55px;
        left: 183px;
        top: 1390px;
        border-radius: 100px;
        background: #EB2188;
    }
    &__picture{
        position: absolute;
        width: 237px;
        height: 156px;
        left: 133px;
        top: 1341px;
        z-index: 0;
    }
}


//Coffee part
.image--three{
    &__transparent{
        position: absolute;
        width: 166px;
        height: 166px;
        left: 554px;
        top: 1405px;
        border-radius: 100px;
        border: 1px solid #EB2188;
        box-sizing: border-box;
        z-index: 1;
    }
    &__filled{
        position: absolute;
        width: 55px;
        height: 55px;
        left: 518px;
        top: 1477px;
        border-radius: 100px;
        background: #FFBA49;
    }
    &__picture{
        position: absolute;
        width: 163px;
        height: 134px;
        left: 546px;
        top: 1405px;
        z-index: 0;
    }
}

@media only screen and (max-width: 1024px) {
.image--one{
  &__transparent{
    width: 120px;
    height: 120px;
    left: 20rem;
  }
  &__filled{
    width: 35px;
    height: 35px;
    left: 21rem;
  }
  &__picture{
    width: 129px;
    height: 144px;
    top: 70rem;
    left: 20rem;
  }
}

.image--two{
 
  &__transparent{
    width: 120px;
    height: 120px;
    left: 8rem;
  }
  &__filled{
    width: 35px;
    height: 35px;
    left: 8rem;
  }
  &__picture{
    width: 129px;
    height: 144px;
    
  }
}

.image--three{
  &__transparent{
    width: 120px;
    height: 120px;
    left: 23rem;
  }
  &__filled{
    width: 35px;
    height: 35px;
    left: 22rem;
  }
  &__picture{
    width: 129px;
    height: 144px;
   left: 24rem;
  }
}

.mission--section{
  right: 53rem;
}
}

@media screen and (min-width: 320px) and (max-width: 414px) {
.image-box{
  display: none;
}

.mission--section{
   bottom: 67rem;
  &__title{
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  width: 350px;
}
&__text{
  width: 320px;
  text-align: justify;
  padding-left: 1rem;
}
}

}
