@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

* {
  font-family: Comfortaa;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #eb2188 #fff;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #eb2188;
  border-radius: 20px;
  border: 3px solid #eb2188;
}

.page-container {
  .about-wrapper {
    padding-top: 100px;
    padding-bottom: 80px;
    background: #fcfeff;

    .about-platr {
      margin-top: 8em;
      padding-right: 4.5em;

      @media (max-width: 767px) {
        margin-top: 0;
        padding-right: 0;
      }

      @media (max-width: 940px) {
        margin-top: 0;
        padding-right: 0;
      }

      .h2 {
        font-weight: bold;
        letter-spacing: 0.05em;
        font-size: 2.2em;
        color: #316099;
        line-height: 46px;
      }

      .p {
        line-height: 26px;
        letter-spacing: 0.05em;
        font-size: 1em;
        color: #1f3f68;
        opacity: 0.6;
      }

      .learn-more {
        font-size: 0.9em;
        color: #5a98d0;
        cursor: pointer;
        line-height: 30px;
        font-weight: bold;

        &:hover {
          text-decoration: none;
        }

        .arrow {
          margin: 0.7em;
          animation: arrow 1s linear infinite;

          @keyframes arrow {
            from {
              margin-left: 0.2em;
            }

            to {
              margin-left: 0.6em;
            }
          }
        }
      }
    }

    .box-wrapper {
      display: flex;
      flex-flow: row;

      .boxes {
        width: 288px;

        .image {
          margin-top: 0.5em;

          .img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }

      .box-1 {
        margin-right: 0.5em;
      }

      .box-2 {
        margin-top: 3em;

        @media (max-width: 767px) {
          margin-top: 0;
        }

        @media (max-width: 940px) {
          margin-top: 0;
        }
      }
    }
  }

  .how-it-works {
    min-height: 760px;
    background: rgba(235, 33, 136, 0.03);

    @media (min-width: 1100px) {
      position: relative;
    }

    .h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 40px;
      color: #316099;
      padding: 1em;
      text-align: center;

      @media (min-width: 1100px) {
        text-align: left;
        padding: 2em 0 1.5em 2em;
      }
    }

    .how__contents {
      display: flex;
      flex-flow: column;
      align-items: center;
      align-self: center;
      text-align-last: center;
      margin-bottom: 1em;
      padding: 1em;

      //Desktop
      @media (max-width: 767px) {
        padding: 0;
      }

      .icon {
        display: block;
        margin: 0 auto;
      }

      .heading {
        color: #1f3f68;
        font-weight: 600;
        font-size: 1.1em;
        line-height: 29px;
        padding-top: 1.5em;
      }

      .text {
        font-size: 1em;
        line-height: 29px;
        text-align: center;
        color: #1f3f68;
      }
    }

    //Extra large Desktop
    @media (min-width: 1390px) {
      .content--2 {
        position: absolute;
        top: 22em;
        left: 24em !important;
      }

      .content--3 {
        position: absolute;
        top: 12em;
        right: 24em !important;
      }

      .vector-1 {
        display: block;
        position: absolute;
        left: 13em !important;
        bottom: 14em !important;
      }

      .vector-2 {
        display: block;
        position: absolute;
        left: 47em;
        top: 15em !important;
      }

      .vector-3 {
        display: block;
        position: absolute;
        right: 12em !important;
        top: 10em;
      }
    }

    //Desktop
    @media (min-width: 1150px) {
      .content--2 {
        position: absolute;
        top: 22em;
        left: 22em;
      }

      .content--3 {
        position: absolute;
        top: 10em;
        right: 20em;
      }

      .content--4 {
        position: absolute;
        right: 0;
        bottom: 10em;
      }

      .vector-1 {
        display: block;
        position: absolute;
        left: 10em;
        bottom: 15em;
      }

      .vector-2 {
        display: block;
        position: absolute;
        right: 38em;
        top: 16em;
      }

      .vector-3 {
        display: block;
        position: absolute;
        right: 9em;
        top: 15em;
      }
    }

    //Mobile
    @media (max-width: 1149px) {
      .vector-1 {
        display: none;
      }

      .vector-2 {
        display: none;
      }

      .vector-3 {
        display: none;
      }
    }
  }

  .what-we-do {
    position: relative;
    background-color: #fcfeff;
    padding: 5em 0;
    text-align: center;

    .fork-img {
      text-align: left;
    }

    .we-do-text {
      font-style: normal;
      font-weight: bold;
      font-size: 1.5em;
      padding: 1em 0;
      text-align: center;
      line-height: 46px;
      letter-spacing: 0.05em;
      color: #316099;
    }

    .we-do-wrap {
      padding: 2em;
      margin: 1em;
      min-height: 525px;
      background: #ffffff;
      box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
      border-radius: 10px;

      .img {
        display: block;
        text-align: center;
        margin-top: -3.5em;
        margin-bottom: 2em;
      }

      .wrap-h4 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: #1f3f68;
      }

      .we-do-para {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1f3f68;
        opacity: 0.6;
      }

      .learn-more {
        font-size: 0.9em;
        color: #5a98d0;
        cursor: pointer;
        line-height: 30px;
        font-weight: bold;

        &:hover {
          text-decoration: none;
        }

        .arrow {
          margin: 0.7em;
          animation: arrow 1s linear infinite;

          @keyframes arrow {
            from {
              margin-left: 0.2em;
            }

            to {
              margin-left: 0.6em;
            }
          }
        }
      }
    }

    .we-do-wrap2 {
      .img {
        margin-top: 0;
      }
    }

    .we-do-wrap3 {
      .img {
        margin-top: 0;
      }
    }

    //Desktop
    @media (min-width: 1200px) {
      .we-do-wrap {
        margin-left: 4em;
        margin-bottom: 3em;
        width: 380px;
        text-align: left;

        .img {
          margin-bottom: 3.5em;
        }
      }

      .fork-img {
        position: absolute;
        top: 12em;
        text-align: left;
      }

      .we-do-text {
        padding-left: 5em;
        font-size: 1.8em;
        text-align: left;
      }

      .we-do-wrap2 {
        position: relative;
        bottom: 17em;
        left: 7em;
      }

      .we-do-para {
        margin-bottom: 2em;
      }
    }
  }

  .register-your-restaurant {
    min-height: 530px;
    background: linear-gradient(
        0deg,
        rgba(252, 248, 239, 0.8),
        rgba(252, 248, 239, 0.8)
      ),
      url(https://res.cloudinary.com/doo1zd8pn/image/upload/e_recolor/v1580068269/landingPage/Rectangle_67_n50qhf.png);

    .right-text {
      margin-top: 8em;
      color: #1f3f68;

      .reg-p {
        font-size: 14px;
        line-height: 16px;
      }

      .reg-h2 {
        font-size: 38px;
        line-height: 60px;
        font-weight: bold;
      }

      .reg-h4 {
        font-size: 24px;
        line-height: 38px;
      }
    }

    .form-wrap {
      background: #ffffff;
      border-radius: 10px;
      margin-top: 4em;

      .input-box::placeholder,
      .input-box::-webkit-input-placeholder {
        font-size: 11px;
      }

      .form-container {
        width: 100%;
        padding: 3em;

        @media (max-width: 767px) {
          padding: 1.5em;
        }

        .input-box {
          width: 100%;
          height: 3.2em;
          margin-bottom: 1em;
          border-radius: 4px;
          outline: none;
          padding-left: 1.5em;
          background: #ffffff;
          border: 1px solid #abb4bd;
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
          transition: all 0.5s ease-in-out;

          &:hover,
          &:focus {
            border: 1px solid #eb2188;
          }

          &:nth-child(4) {
            margin-bottom: 2em;
          }
        }
      }
    }
  }

  .get-the-app {
    min-height: 450px;
    background: url(https://res.cloudinary.com/doo1zd8pn/image/upload/v1580070767/landingPage/Group_530_khn4tm.png);
    background-position: 60% 100%;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      background: url(https://res.cloudinary.com/doo1zd8pn/image/upload/v1580068268/landingPage/Rectangle_kgesjm.png);
      background-position: 50% 50%;
    }

    .phone-img {
      border: 2px solid black;
    }

    .get {
      margin-top: 7em;
      padding-left: 2em;
      margin-left: 2em;

      .h1-get {
        font-weight: bold;
        font-size: 4em;
        margin-bottom: 0.6em;
        line-height: 72px;
        color: #2196f3;

        @media (max-width: 500px) {
          font-size: 2em;
        }
      }

      .platr {
        font-weight: bold;
        font-size: 50px;
        line-height: 56px;
        color: #333333;
      }

      .order-p {
        font-size: 18px;
        line-height: 20px;
        color: #4f4f4f;
      }

      .playstore {
        padding-top: 1em;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          margin-left: 1.5em;
        }
      }
    }
  }

  .blog-post {
    padding-top: 5em;

    .blog-texts {
      display: flex;
      flex-direction: column;
      padding-bottom: 3.5em;

      .blog-h2 {
        font-size: 30px;
        line-height: 33px;
        color: #1f3f68;
        margin-bottom: 1.5em;
      }

      .blog-p {
        font-size: 16px;
        line-height: 21px;
        color: #666666;
        mix-blend-mode: normal;
        opacity: 0.81;
      }

      .read-more {
        margin-left: auto;
        font-size: 0.9em;
        color: #5a98d0;
        cursor: pointer;
        line-height: 30px;
        font-weight: bold;

        &:hover {
          text-decoration: none;
        }

        .aarrow {
          margin-left: 1em;
        }
      }
    }
  }
}
