@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.contact {
  font-family: Comfortaa;
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    p {
      display: flex;
      justify-content: center;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #f7f7f7;
      opacity: 0.6;
    }
  }
  .body {
    background: #FCFEFF;
    display: flex;
    width: 90%;
    margin: 3rem auto;
    .address,
    .form {
      flex-basis: 50%;
    }
    .address {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .enq {
        p {
          margin-block-start: 5px;
          margin-block-end: 0;
        }
        margin-bottom: 15px;
      }
    }
    .form {
      display: flex;
      justify-content: center;
    }
  }
  .map{
    margin-top: 3rem ;
    margin-bottom: 1rem;
    .geozone{
      width: 100%;
    }

  }
}

@media screen and (max-width: 425px) {
  .body {
    flex-direction: column;
    overflow-x: hidden;
    .form,
    .address {
      flex-basis: 1;
      // border: 1px solid green;
    }
    .address {
      .enq {
        .p {
          width: 100%;
        }
      }
    }
    .form {
      .wid {
        flex-basis: 100%;
      }
    }
  }
  .map{
    display: none ;
    .geozone{
      display: none;
    }
  }
}
