@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

.slider-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: Comfortaa;

    .image {
        width: 100%;
        border-radius: 4px 4px 0px 0px;

        .img {
            width: 100%;
            display: block;
            height: auto;
        }


    }

    .content {
        padding: 1.5em;

        .head-text {
            font-size: 12px;
            line-height: 13px;
            color: #1F3F68;
        }

        .benefit-text {
            font-size: 18px;
            line-height: 20px;
            color: #727272;
        }

        .article {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.02em;
            color: #727272;
        }
    }
}
