@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
$pri-color: rgba(0, 0, 0, 0.6);
$sec-color: rgba(102, 102, 102, 0.6);

.containers {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 20px;

  .img-wrap {
    .image {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .content-wrap {
    display: flex;
    flex-flow: column wrap;
    font-family: "Comfortaa", cursive;

    @media (max-width: 767px) {
      padding: 0 2em;
    }

    .wrap__items {
      flex: 1;
    }

    .top {
      padding-top: 0.8em;

      .h5 {
        color: $pri-color;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        mix-blend-mode: normal;
      }

      .h6 {
        color: $sec-color;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.25px;
        mix-blend-mode: normal;
      }

      .star {
        display: flex;
        margin-left: -0.8em;
      }
    }

    .bottom {
      display: flex;
      padding-top: 2em;
      color: $sec-color;
      font-size: 9px;
      line-height: 20px;
      letter-spacing: 0.25px;

      @media (max-width: 767px) {
        flex-flow: column wrap;
      }

      @media (max-width: 767px) {
        flex-flow: column wrap;
      }

      @media (max-width: 767px) {
        flex-flow: column wrap;
      }

      .para {
        margin-right: 1.5em;
      }
    }
  }
}
